
export PROJECT_ID="min-gke-project"
source_direnv_venv() {
	if [ -d .venv ]; then
		VENV_PATH="$(pwd)/.venv"
		if [ -f "$VENV_PATH/bin/activate" ]; then
			source "$VENV_PATH/bin/activate"
		fi
	fi
}
source_direnv_venv
